In [620]:
import pandas as pd
import numpy as np

In [621]:
df = pd.read_csv('Data.csv') 

df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [622]:
#df.loc[df['Style'].isnull()]
df.mean()

C:\Users\Sahwan\AppData\Local\Temp\ipykernel_15172\3406081618.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Age          38.777778
Salary    63777.777778
dtype: float64

In [623]:
mean=df['Age'].mean()
df['Age'].fillna(mean,inplace=True)

In [624]:
#df.loc[df['Age'].isnull()]
#df.fillna({'Age':39})

In [625]:
#df.loc[df['Salary'].isnull()]
#df.fillna({'Salary':63777})
mean=df['Salary'].mean()
df['Salary'].fillna(mean,inplace=True)

In [626]:
df['Purchased']=df['Purchased'].map({'No':0,'Yes':1})
df.head()

   Country   Age        Salary  Purchased
0   France  44.0  72000.000000          0
1    Spain  27.0  48000.000000          1
2  Germany  30.0  54000.000000          0
3    Spain  38.0  61000.000000          0
4  Germany  40.0  63777.777778          1

In [627]:
#df.describe()
#df = pd.DataFrame({'Country': ['Country_Germany', 'Country_Spain', 'Country_France']})
#dummies = pd.get_dummies(df['Country'], prefix='Country')
#df = pd.concat([df['Age','Salary'], dummies], axis=1)
#print(df)

In [628]:
df=pd.get_dummies(df,drop_first=False)
df.head()

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.0,72000.000000,0,1,0,0
1,27.0,48000.000000,1,0,0,1
2,30.0,54000.000000,0,0,1,0
3,38.0,61000.000000,0,0,0,1
4,40.0,63777.777778,1,0,1,0

In [629]:
#new_df = df.drop('Country', axis=1)

#new_df1 = new_df.drop('Purchased', axis=1)
#new_df1.head()

In [630]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 1].values

In [631]:
#from sklearn.impute import SimpleImputer

In [632]:
#regressor.score(x_test , y_test)

In [633]:
#regressor.score(x_train , y_train)

In [634]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [635]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train , y_train)

LinearRegression()

In [636]:
b = regressor.intercept_  
a = regressor.coef_
#we pass the x test (the real) we get the y_pred(from model)
y_pred = regressor.predict(x_test)

In [637]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test , y_pred)
MSE

8.823259867232296e-23

In [638]:
#df=pd.DataFrame(new_df1)
#df
#import numpy as np
#x=pd.DataFrame(X)
#df